body {
  background-color: #dddddd;
}

h1 {
  text-align: center;
  font-family: georgia;
}

table {
  background-color: #cccccc;
  border-collapse: collapse;
  margin: 0px auto;
}

td, th {
  border: 1px solid #999;
  padding: 5px;
  text-align: left;
}

tr:nth-child(even) {
    background-color: #deedee;
}
